.footer {
	background-color: orange;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 0 2px 2px 2px;
}
